*{
    padding: 0;
    margin: 0%;
}
body{
    background-color: rgb(220, 234, 247);
}
.homelist{
    display: flex;
    list-style: none;
    font-size: 25px;
    margin-left: auto;
    text-transform: capitalize;
}
.homelist > a {
    text-decoration: none;
}
.listA:hover{
    font-size: bold;
    color: rgb(5, 5, 85);
}
.listA{
    margin-left: 50px;
    color: rgb(163, 135, 233);
}
.frag{
    width: 50px;
    margin-left: 3px;
}
.frag-foot{
    float: right;
    width: 50px;
    margin-top: -37px;
    margin-right: 62px;
}
.img1{
    margin-right: 100px;
    width: 700px;
    height: 700px;
}   
.box1{
    display: flex;
    list-style: none; 
}
.div3{
    background-color: rgb(97, 163, 216);
    margin-left: 100px;
    width: 1200px;
    height: 700px;
}
.just{
    margin-left: 50px;
    padding: 50px 30px 18px 0;
    font-size: 35px;
}
.feel{
    margin-left: 50px;
    font-size: 95px;
    padding: 15px 50 15px 0;
    font-weight: bolder;
}
.brand-name{
    color: rgb(163, 135, 233);

}
.brand-name1{
    color: rgb(163, 135, 233);
    margin-top: 12px;
}
.homebar{
    display: flex;
    width: 80%;
    margin-left: 10%;
    padding: 50px 0 50px 0;
}
.story{
    font-size: 15px;
    margin-left: 50px;
    padding: 30px 0 0 0;
}
.btn-get{
    margin: 50px 0 50px 50px ;
    padding: 20px 40px 20px 40px;
    border-radius: 50%;
    background-color: aliceblue;
    font-size: 20px;
    color: rgb(97, 163, 216);
    border-color: white;
    font-weight: bolder;
}
footer{
    background-color: rgb(45, 79, 107);
    /* width: auto; */
    height: 100px;
    
}

.footer-div{
    background-color: rgb(45, 79, 107);
    margin-top: 200px;
    display: flex;
    list-style: none;
    /* padding: 50px 0 100px 0; */
    
}
.media{
    font-size: 30px;
    font-weight: bolder;
}
.social1{
    list-style: none;
    margin-left: 216px;
    width: 627.5px;
    padding: 10px;
    

}
.find{
    font-size: 35px;
    font-weight: bolder;
    padding: 40px 0px 10px 0;
}
.contact{
    font-weight: bolder;
}
.Twitter{
    font-size: 35px;
    font-weight: bolder;
   padding: 45px 0 0 0;
}
.num{
    font-weight: bolder;
}
.social1 > a {
    text-decoration: none;
}
.type{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(163, 135, 233);
    margin-top: 10px;
}
.type:hover{
    font-size: bold;
    color: rgb(97, 97, 143);
}
.note{
    font-size: 20px;
    margin-left: 100px;
}
.social1 > p{
    color: rgb(163, 135, 233);
}

.media-logo{
    display: flex;
    padding: 4px;
    margin-top: 29px;
    list-style-type: none;
}
.media-image{
    margin-left: 5px;
}

.media-logo img{
    width: 30px;
}



    
    

